body {
  font-family: 'Amiri', serif;

}

input {
  font-family: 'Amiri', serif;

}

.my-theme-blue {
  background: #4B43E8 !important;
}

.my-theme-blue:hover {
  background: rgba(75, 67, 232, 0.664) !important;
}

.my-theme-red {
  background: #FF0701 !important;
}

.my-theme-red:hover {
  background: rgba(255, 5, 1, 0.753) !important;
}

.myBlack {
  background: #000 ;
}

.myBlack:hover {
  background: rgba(0, 0, 0, 0.774);
}