#first-section{
  background-image: url(./imgs/firstcat.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
    nav{
      height: 15vh;

      .navbar{
        display: flex;
        list-style: none;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
    
      }
      .navbar .nav-list .nav-link{
        color: #fff;
        text-decoration: none;
        
      }
      .brand img{
        position: absolute;
        left: 2%;
        top: 1%;
        transform: translate(-2%, -1%);
      }
      .brand-fluid{
        max-width: 100%;
        height: auto; 
      }
    }
    .title{
      color:#fff;
      display: flex;
      width: 100%;
      height: 70%;
      justify-content: space-around;
      align-items: center;
      font-size: 2.5rem;
    }
    .scroller{
      display: flex;
      width: 100%;
      justify-content: space-around;
      align-items: center;
      animation: scroller alternate infinite 1s;
      @keyframes scroller{
        from{
          transform: translateY(0px)
        } to{
          transform: translateY(10px)
        }
      }
    }
    .scroller img{
      width: 1.5rem;
    }
  
}
