#footer{
  background-color: #242526;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
    footer{
      color: #fff;

    }
    .back-top{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .back-top i{
      font-size: 2rem;
      color:#fff;
    }
}