@media screen and (max-width: 768px){
  .line{
    width: 30px;
    height: 3px;
    background: #fff;
    margin: 5px;
  }
  .nav-parent{
    position: relative;
  }

  .hamburger{
      z-index: 2;
      position: fixed;
      cursor: pointer;
      right: 5%;
      top: 8%;
      transform: translate(-5%, -50%);
      
  }

  .navbar{
    position: fixed;
    height: 100vh;
    background: #1A1B1C;
    width: 100% !important;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
  }
  .navbar.open{
    clip-path: circle(1450px at 90% -20%);
  }
  .scroller img{
    display:none;
  }
  .brand img{
    margin: 10px 10px 10px;
}

}
