#third-section{
  height: 100vh;

    .image-wrapper{
      flex-flow: row wrap;
      display: flex;
    }
    .image-wrapper div{
      flex: auto;
      width: 200px;
      margin: 10px;
    }
    .image-wrapper div img{
      width: 100%;
      height: auto;
    }
    h1{
      color: #fff;
      font-size: 4rem;
      text-align: center;
      margin-top: 6rem;
      margin-bottom: 3rem;
    }
}

// .image-wrapper{
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(15rem,1fr));
//   grid-gap: 5px; 
//   margin: 5px auto auto auto;
// }
// .image-wrapper img{
//   width: 100%;

// }
// .image-item{
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-flow: wrap;
// }