*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  background: rgb(26,27,28);
  background: radial-gradient(circle, rgba(26,27,28,1) 0%, rgba(46,47,47,1) 100%);
  font-family: 'Chilanka';
}

@import './first-section';
@import './second-section';
@import './third-section';
@import './footer';

// Querry
@import 'media-768';