html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Lateef', cursive;
  background-color: #5d5d5d;
}


// First Section
#first-section{
  background-image: linear-gradient(to bottom, rgba(106, 106, 106, 0.52), rgba(0, 0, 0, 0)),url(./imgs/bg.jpg);
  background-size: cover;
  height: 100vh;
}
.bg-light {
  background-color: #f8f9fa00 !important;
}
.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 2.5rem 3rem;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  margin-right: 7rem;
}
.navbar-light .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
}
.hatat{
  color: #fff;
  text-align: center;
  margin-top: 6rem;
  font-size: 12rem;
  text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.459);
  overflow: hidden;
}
.go-down{
  text-align: center;
  left: 50%;
  bottom: 10%;
  position: absolute;
}
.go-down a{
  color: #000;
}
.go-down i{
  font-size: 1.5rem;
}
// About section
#about-section{
  background-image:linear-gradient(to bottom,rgba(0, 0, 0, 0) , rgba(106, 106, 106, 0.52)), url(./imgs/section-2.jpg);
  background-size: cover;
  height: 100vh;
  color: #000;
}
#about-section h1{
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 4rem;
}
#about-section p{
  font-size: 2rem;
}
.about-wrapper{
  padding-top: 12rem;
}
.go-down-about{
  text-align: center; 
  margin-top: 10%;
}
.go-down-about a{
  color: #000;
}
.go-down-about i{
  font-size: 1.5rem;
}
// gallary section
#gallary-section{
  background: linear-gradient(to bottom,rgba(119, 119, 119, 100%) , rgba(237, 237, 237, 100%));
}
#gallary-section h1{
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: #000;
}
.go-down-gallary{
  text-align: center; 
  margin-top: 10%;
}
.go-down-gallary a{
  color: #000;
}
.go-down-gallary i{
  font-size: 1.5rem;
}
// contact-section
#contact-section{
  height: 105vh;
  background: linear-gradient(to bottom,rgba(237, 237, 237, 100%) , rgba(119, 119, 119, 100%));
}
.go-down-up{
  text-align: center; 
  margin-top: 10%;
}
.go-down-up a{
  color: #000;
}
.go-down-up i{
  font-size: 1.5rem;
}
#contact-section h1{
  font-family: 'Cairo', sans-serif;
  font-weight: 600;
  font-size: 4rem;
  color: #000;
}
.contact-icons{
  padding-top: 12rem;
}
.contact-icons li{
  list-style: none;
  display: inline;
  margin: 1rem;
}
.contact-icons i{
  font-size: 3rem;
  color:#000;
}
// Footer
.my-footer{
  font-family: 'Cairo', sans-serif;
  text-align: center;
  margin-top: 6rem;
}
// Toggler
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 100%)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0, 0, 0, 0);
}

@media (max-width: 575.98px){
  .flex-sm-row-reverse {
    -ms-flex-direction: row-reverse!important;
    flex-direction: row-reverse!important;
}
}